---
import Section from "../Section.astro";

const work = [
    {
        name: "Marmolería Verona",
        startDate: "2022-01-31",
        endDate: null,
        position:
            "IT Development Lead for administrative renewal and systems implementation.",
        summary:
            "In this role, I lead the modernization of administrative processes by implementing tailored technological solutions to optimize workflows and resource management. Collaborating with cross-functional teams, I enhance communication, streamline operations, and integrate financial and operational systems. My efforts focus on driving productivity, enabling data-driven decision-making, and ensuring the successful adoption of new technologies aligned with the company’s strategic objectives.",
        url: "https://www.marmoleriaverona.com.ar",
    },
];
---

<Section title="Work Experience">
    <ul>
        {
            work.map(({ name, startDate, endDate, position, summary, url }) => {
                const startYear = new Date(startDate).getFullYear();
                const endYear =
                    endDate != null
                        ? new Date(endDate).getFullYear()
                        : "Current";

                return (
                    <li>
                        <article>
                            <header>
                                <div class="header-titles">
                                    <h3>
                                        <a
                                            href={url}
                                            title={`Ver ${name}`}
                                            target="_blank"
                                        >
                                            {name}
                                        </a>
                                    </h3>
                                    <h4>{position}</h4>
                                </div>
                                <div>
                                    <time
                                        datetime={startDate}
                                        data-title={startDate}
                                    >
                                        {startYear}
                                    </time>
                                    {" - "}
                                    <time
                                        datetime={endDate}
                                        data-title={endDate}
                                    >
                                        {endYear}
                                    </time>
                                </div>
                            </header>
                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    :root {
        --color-primary: #111;
        --color-secondary: grey;
        --color-accent: #555;
        --color-background: #fff;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        padding: 0;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    .header-titles {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
    }

    article h3 {
        font-weight: 500;
        color: var(--color-primary);
        margin: 0;
    }

    article a {
        color: var(--color-primary);
        text-decoration: none;
    }

    article a:hover {
        text-decoration: underline;
    }

    article h4 {
        color: var(--color-secondary);
        font-weight: 300;
        margin: 0;
        margin-top: 2px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: var(--color-accent);
        font-size: 0.85rem;
        min-width: 102px;
        cursor: default;
        text-align: right;
    }

    footer {
        color: var(--color-secondary);
        margin-top: 4px;
    }

    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease-in-out 0.5s;
        visibility: visible;
    }

    [data-title]:after {
        content: attr(data-title);
        background-color: #333;
        color: #fff;
        font-size: 0.75rem;
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            "Courier New",
            monospace;
        position: absolute;
        padding: 0.2rem 0.5rem;
        bottom: -1.4rem;
        left: 50%;
        white-space: nowrap;
        box-shadow: 1px 1px 1px #222222;
        opacity: 0;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }

    [data-title] {
        position: relative;
    }

    @media (width <= 700px) {
        header {
            flex-direction: column;
            align-items: flex-start;
        }

        time {
            align-self: flex-end;
            margin-top: 4px;
        }
    }
</style>
