---
import GitHub from "../../icons/GitHub.astro";
import Section from "../Section.astro";

const projects = [
    {
        url: "https://marmoleriaverona.com.ar",
        description:
            "Complete redesign of the Marmolería Verona website, which previously only displayed limited information about colors, some of which were out of stock but still offered. New materials, which were previously not showcased, have now been added to the site. The entire user interface (UI) of the catalog, materials, and display was revamped with a focus on accessibility and enhancing the user experience. Additionally, the best-selling sinks, which were not previously available on the website, are now featured. Significant improvements in SEO were achieved, along with a 75% reduction in deployment costs, eliminating the need for costly annual maintenance by opting for more efficient solutions.",
        highlights: [
            "Complete website redesign",
            "Updated catalog with new materials and best-selling sinks",
            "Significant SEO improvements",
            "75% reduction in deployment costs",
            "Full UI overhaul",
        ],
        name: "Verona Web Page",
        isActive: false,
        github: "https://github.com/octavioserrago",
    },
    {
        url: null,
        description:
            "Verona API is a robust API built with Express, designed to handle various aspects of business operations, including sales, users, sinks, Blueprints, Blueprint images, and other related data. The API is secured with JSON Web Tokens (JWT) to ensure safe and authorized access to endpoints, and user passwords are securely hashed using bcrypt. The database is powered by MySQL, providing reliable storage and efficient querying of business-critical data. Currently in the testing phase, the API is fully deployed and, as a result, has achieved a 100% reduction in deployment costs by utilizing cost-effective solutions. Due to security reasons, the project is not publicly available on GitHub or via a public URL.",
        highlights: [
            "Built with Express.js",
            "JWT-based security for authentication",
            "User passwords securely hashed with bcrypt",
            "Routes for managing sales, users, sinks, Blueprints, and images",
            "MySQL database for reliable data storage",
            "Focus on secure and efficient data handling",
            "Fully deployed with a 100% reduction in deployment costs",
        ],
        name: "Verona API",
        isActive: true,
        github: null,
    },
    {
        url: null,
        description:
            "Verona App is the frontend application that works in conjunction with Verona API. Built primarily with React and Axios for making secure API calls, it provides users with an intuitive interface for managing and interacting with business data. Users can view sales data, update their credentials, and track the status of production related to plans in each sale. The app offers a variety of features aimed at streamlining operations and improving user experience. Additionally, by leveraging cost-effective deployment solutions, Verona App has achieved a 100% reduction in deployment costs. Due to security reasons, the project is not publicly available on GitHub or via a public URL.",
        highlights: [
            "Frontend built with React",
            "Secure API calls using Axios",
            "User management with credential updates",
            "Sales data display and production tracking for related plans",
            "Fully deployed with a 100% reduction in deployment costs",
            "Streamlined user experience with various interactive features",
        ],
        name: "VeronaApp",
        isActive: true,
        github: null,
    },
];
---

<Section title="Proyects">
    <ul>
        {
            projects.map(
                ({ url, description, highlights, name, isActive, github }) => {
                    return (
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a
                                            href={url}
                                            target="_blank"
                                            title={`View project ${name}`}
                                        >
                                            {name}
                                        </a>
                                        {isActive && <span>•</span>}
                                        {github && (
                                            <a
                                                class="github-code-link"
                                                href={github}
                                                target="_blank"
                                                title={`View source code for project ${name}`}
                                            >
                                                <GitHub />
                                            </a>
                                        )}
                                    </h3>
                                    <p>{description}</p>
                                </header>
                                <footer>
                                    {highlights.map((highlight) => {
                                        return <span>{highlight}</span>;
                                    })}
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        margin-inline: -16px;
        list-style-type: none;
        padding: 0;
    }

    article {
        border-radius: 8px;
        border: 1px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        padding: 12px;
        height: 100%;
        gap: 10px;
    }

    article header {
        flex: 1;
    }

    article h3 {
        margin-bottom: 4px;
    }

    article a {
        color: #111;
    }

    article a:hover {
        text-decoration: underline;
    }

    article p {
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }

    article h3 span {
        color: rgb(0, 188, 47);
        animation-name: flicker;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    footer span {
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    .github-code-link {
        margin-left: 5px;
    }

    @keyframes flicker {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
        100% {
            opacity: 1;
        }
    }

    @media (width <= 700px) {
        ul {
            margin-inline: 0px;
        }

        article {
            border: none;
            box-shadow: 0 1px 1px #f2f2f2;
            padding: 0 0 16px 0;
        }
    }

    @media print {
        article h3 span {
            animation-name: none;
        }
    }
</style>
